<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567381288363-9f253e01dg9rq6tn4mll71971cor63oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567381288363-9f253e01dg9rq6tn4mll71971cor63oh</string>
	<key>API_KEY</key>
	<string>AIzaSyAUpzWt_Ls_uTu2OEsAPFajUhMPtxpKYXc</string>
	<key>GCM_SENDER_ID</key>
	<string>567381288363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlocMediumTodoApp</string>
	<key>PROJECT_ID</key>
	<string>mediumtodoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mediumtodoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567381288363:ios:a5a339d6a12fffcc099eee</string>
</dict>
</plist>